* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

ol,
ul {
    padding-left: 1.5em;
}

.hidden {
    display: none !important;
}

html,
body {
    height: 100%;
}

body {
    background-color: $background-color;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 0 auto;
    // width: 90%;
    margin: 0 auto;
    width: 70%;
    color: $font-color;
    padding-top: 2em;
    padding-bottom: 2em;

    img {
        display: block;
        margin: 0 auto;
        padding-bottom: 1em;
        width: 300px;
    }

    .report-img {
        width: 500px;
        padding-top: 2em;
        padding-bottom: 2em;
    }
}

.header,
.footer {
    flex: 0 0 auto;
    background-color: $background-color-footer;
}

img {
    max-width: 100%;
}

.tech-box {
    color: $font-color;
    background-color: $background-color-tech-box;
    box-shadow: 5px 8px $shadow;
    transition: box-shadow 0.2s;

    .upper {
        background-color: $background-color-techbox-upper;
        color: $font-color-techbox-header;
    }

    .lower {
        color: $font-color-links;
    }
}

.tech-box:hover {
    box-shadow: 5px 8px $shadow-lighter;
}
