body {
    font-family: sans-serif;
    line-height: 1.5rem;
}

p, td, th, li, dd {
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.6em;
    font-weight: bold;
}

.main h1 {
    text-align: center;
    padding-bottom: 0.5em;
    border-bottom: 1px solid $main-h1-border-color;

}

.main h2 {
    padding-top: 2em;
    text-align: center;
    padding-bottom: 0.5em;
}

.main img{
    display: block;
    margin: 0 auto;
    padding-bottom: 1em;
}

.main a {
    color: $font-color-links;
}