/* Div colors */
$background-color: #22262b;
$background-alternative-color: #e0fbfc;
$background-color-header: #1e2022;
$background-color-footer: #1e2022;
$background-color-code: #f5f5f5;


/* Font colors */
$font-color: #86c7f3;
$font-alternative-color: #444;
$font-color-links: #b38dbf;
$accent-color: #ee6c4d;

/* Border colors */
$border-color-code: #ccc;
$border-color-footer: #222;
$main-h1-border-color: #4fa8e4;

