/* Div colors */
$background-color: #fff;
// $background-alternative-color: #e0fbfc;
$background-color-header: #9baec4;
$background-color-footer: #9baec4;
$background-color-code: #223245;
$background-color-tech-box: #9baec4;
$background-color-techbox-upper: #6596ce;

/* Font colors */
$font-color: #363d45;
$font-color-code: #fff;
$font-color-links: #223245;
$font-color-links-body: #6596ce;
$font-color-links-alt: #6596ce;
$font-color-techbox-header: #fff;

/* Border colors */
$border-color-code: #223245;
$border-color-footer: #000;
$main-h1-border-color: #223245;
$shadow: #223245;
$shadow-lighter: #6596ce;
