/* Div colors */
$background-color: #223245;
$background-alternative-color: #e0fbfc;
$background-color-header: #22262b;
$background-color-footer: #22262b;
$background-color-code: #22262b;
$background-color-tech-box: #22262b;
$background-color-techbox-upper: #9baec4;

/* Font colors */
$font-color: #9baec4;
$font-color-code: #9baec4;
$font-color-links: #9baec4;
$font-color-links-body: #5f6a78;
$font-color-links-alt: #3b5678;
$font-color-techbox-header: #22262b;

/* Border colors */
$border-color-code: #3b5678;
$border-color-footer: #222;
$main-h1-border-color: #22262b;
$shadow: #3b5678;
$shadow-lighter: #9baec4;
