{% include "incl/header.twig" %}

<body>
	{% include "incl/nav.twig" %}

	<div class="main tech-landing" role="main">
		{{ content }}
		{% for page in pages("report/reports") %}
			<a href="{{page.url}}">
				<div class="tech-box">
					<div class="upper">
						{{ page.title }}
					</div>
					<div class="lower">
						{{ page.title}}
					</div>
				</div>
			</a>
		{% endfor %}
	</div>

	{% include "incl/footer.twig" %}
</body></html
