.footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $border-color-footer;
    color: $font-color-links;
    padding: 1rem;

    a {
        color: $font-color-links;
        text-decoration: none;
    }

    a:hover {
        color: $font-color-links-alt;
    }

    .social {
        font-size: 2rem;
    }
}
