.header,
.site-header {
    display: flex;
    justify-content: space-between;
}

.header {
    a {
        color: $font-color-links;
        text-decoration: none;
        transition: color 0.2s;
    }

    // a:hover {
    //     text-decoration: underline;
    //     color: $font-color;
    // }

    a:visited {
        color: $font-color-links;
    }

    ul > li > a:hover {
        // text-decoration: underline;
        color: $font-color-links-alt;
    }
}
