.title,
.logo {
    padding: 3em 3em 3em 0;
    margin-left: 2em;
}

.logo img {
    width: 250px;
}

.title {
    * {
        color: $font-color-links;
    }

    p {
        font-style: italic;
    }
}
