@media (min-width: 64em) {
    html {
        font-size: 112.5%;
    }
}

@media (max-width: 767px) {
    .title,
    .logo {
        padding: 1em 1em 1em 0;
    }

    .title {
        min-width: 50%;
    }

    .logo {
        max-width: 30%;
    }

    .main {
        width: 85%;
    }
}

@media (min-width: 1400px) {
    .main {
        width: 64em;
    }
}
